@import url('/styles/themes.css');

.container {
    min-height: 100vh;
}

.user-name {
    position: sticky;
    top: 0;
    background-color: var(--accent-color);
    color: var(--text-background-color);
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-bottom: 2px solid white;
}


.user-list {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-top: .5rem;
    padding: 0 .5rem;
}

.user>h2 {
    margin: 0;
}

.user {
    padding: .5rem 1rem;
    background-color: var(--text-background-color);
    text-decoration: none;
    color: var(--accent-color);
}

.user>.name {
    text-align: start;
}

.user>.last-message {
    width: 60%;
    margin-left: auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: end;
}


.find-new-chat-button {
    position: fixed;
    cursor: pointer;
    z-index: 100;
    bottom: .5rem;
    left: 1rem;
    right: 1rem;
    padding: .5rem 2rem;
    font-size: 2rem;
    color: var(--text-background-color);
    background-color: var(--accent-color);
    box-shadow: 0 0 2px 0 white;
    border: none;
    border-radius: .5rem;
}

.find-new-chat-button:hover,
.find-new-chat-button:focus {
    background-color: var(--text-background-color);
    color: var(--accent-color);
    outline: none;
    box-shadow: 0 0 2px 2px var(--accent-color);
}